{%load static%}
{%load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Index-Django</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="{% url 'cliente' %}">Cliente</a>
              <a class="nav-link" href="{% url 'contato' %}">Contato</a>
              <a class="nav-link" href="{% url 'cadastro' %}">Cadastro</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
        <h1 align="center">Clientes</h1>
    </div>
    <div class="container-fluid mt-4">
        <table class="table table-dark">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Data de Criação</th>
            </thead>
            <tbody>
            {%for cliente in clientes%}
                <tr>
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nome}} {{cliente.sobrenome}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.criado}}</td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="container" align="left">
        <h4>Usuario: {{ verifica_logado }}</h4>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>