{%load static%}
{%load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Página de contato</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="{% url 'cliente' %}">Cliente</a>
              <a class="nav-link" href="{% url 'contato' %}">Contato</a>
              <a class="nav-link" href="{% url 'cadastrocliente' %}">Cadastro de Clientes</a>
              <a class="nav-link" href="{% url 'cadastroproduto' %}">Cadastro de Produtos</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
        <h1>Contato - Formulário para solução de problemas</h1>
        <h3 class="mt-2">Envie aqui qual problema ocorreu</h3>
        {% bootstrap_messages %}
        <form action="{% url 'contato' %}" method="post" class="form mt-3" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form%}
            {% buttons %}
                <button type="submit" class="btn btn-success">Enviar Mensagem</button>
            {% endbuttons%}
        </form>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>