<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Index-Django</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    {% csrf_token %}
    <h1>PRODUTOS</h1>
    <h4>{{ verifica_logado }}</h4>
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Preço</th>
        </thead>
        <tbody>
        {%for produto in produtos%}
            <tr>
                <td>{{produto.id}}</td>
                <td><a href="{% url 'produto' produto.id %}">{{produto.nome}}</a></td>
                <td>{{produto.preco}}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</body>
</html>