{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Index-Django</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    {% csrf_token %}
    <h1 align="center">Produtos</h1>
   <div class="container-fluid mt-4">
        <table class="table table-dark">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
            </thead>
            <tbody>
            {%for produto in produtos%}
                <tr>
                    <td>{{produto.id}}</td>
                    <td><a class="btn btn-info" href="{% url 'produto' produto.id %}">{{produto.nome}}</a></td>
                    <td>R$ {{produto.preco}}</td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="container" align="left">
        <h4>Usuario: {{ verifica_logado }}</h4>
    </div>
    <script src="{% static 'bootstrap.min.js' %}"></scriptsrc>
</body>
</html>